<script>
    function add_voter(username){
        $.ajax({
            url: "{% url 'polls:addvoter' question.id %}",
            data: {
                'voters': username,
                'email': $("#email1").val()
            },
            dataType: 'json',
            success: function (data) {
                $('#user-search').val("");
                $('#currentVoters').html($('#currentVoters').html() + "<option value=\"" + username + "\">" + username + "</option>");
            }
        });
    }

    $(function() {
        $("#user-search").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/polls/api/get_voters/",
                    dataType: "json",
                    data: {
                        term : request.term,
                        poll_id : {{question.id}}
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                add_voter(ui.item.value);
            }
        });
    });


    function toggleTextbox(){
        const textAreaForCustomMails = document.getElementById("textAreaForCustomMails");
        const customEmailsRadioButton = document.getElementById("customEmailsRadioButton");

        if (customEmailsRadioButton.checked) {
            // textAreaForCustomMails.style.display = 'block'; // Show the textbox
            textAreaForCustomMails.classList.remove('hide');
            textAreaForCustomMails.classList.add('show');
        } else {
            // textAreaForCustomMails.style.display = 'none'; // Hide the textbox
            textAreaForCustomMails.classList.remove('show');
            textAreaForCustomMails.classList.add('hide');
        }
    }

    function toggleMailDiv(emailNotification, mailNotificationDiv){

        if(emailNotification.checked) {
            mailNotificationDiv.classList.remove('hide');
            mailNotificationDiv.classList.add('show');
        } else {
            mailNotificationDiv.classList.remove('show');
            mailNotificationDiv.classList.add('hide');
        }
    }

    function populateDefaultText(mailSubjectElementId, mailContentElementId, subjectText, mailText){
        const mailSubEle = document.getElementById(mailSubjectElementId);
        const mailBodyEle = document.getElementById(mailContentElementId);

        mailSubEle.value = subjectText || '';
        mailBodyEle.innerHTML = mailText;
    }

    function validateEmailAddress(email){
        var regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return regex.test(email)
    }

    function validateCSV(){
        const csvTextAreaEle = document.getElementById('csvTextArea');
        csvText = csvTextAreaEle.value;
        emailAddresses = csvText.split(',')
        for(var i=0; i<emailAddresses.length; i+=1){
            if(!validateEmailAddress(emailAddresses[i].trim())){
                alert("The text contains Invalid email address or the input format is wrong")
                return false;
            }
        }
        return true;
    }


    $(window).load(function(){
        function toggleSelectAll(selectAllCheckbox, multiSelect) {
        const options = multiSelect.options;
        const isChecked = selectAllCheckbox.checked;

        for (let i = 0; i < options.length; i++) {
            options[i].selected = isChecked;
            }
        }

        // Get the "Select All" checkbox and the multiple select element
        const selectAllCheckbox = document.getElementById('selectAll');
        const multiSelect = document.getElementById('currentVoters');

        // Add event listener to the "Select All" checkbox
        selectAllCheckbox?.addEventListener('change', () => {
            toggleSelectAll(selectAllCheckbox, multiSelect);
        });

        const radioButtons = document.querySelectorAll('input[name="recepients"]');
        radioButtons?.forEach(radio => {
            radio.addEventListener('change', toggleTextbox);
        });

        const emailNotification = document.getElementById('emailNotification');
        const mailNotificationDiv = document.getElementById("mailNotificationDiv");
        emailNotification?.addEventListener('change', ()=>{
            toggleMailDiv(emailNotification, mailNotificationDiv);
        });

        const emailNotificationToRemove = document.getElementById('emailNotificationToRemove');
        const mailNotificationDivToRemove = document.getElementById("mailNotificationDivToRemove");
        emailNotificationToRemove?.addEventListener('change', ()=>{
            toggleMailDiv(emailNotificationToRemove, mailNotificationDivToRemove);
        });

        var url = window.location;
        var protocol = url.protocol;
        var host = url.host; 
        let instanceURL = protocol + "//" + host + "{% url 'polls:detail' question.id %}";
        let question_text = ""+ "{{ question.question_text | safe }}";

        //Pre-populate default text into E-mail subject and body
        var mailSubEleID = "mailNotificationSubject";
        var mailBodyEleID = "mailNotificationBody";
        var mailSubjectContent = "You have been removed from {{ question.question_text | safe }}";
        var mailBodyContent = "You have been removed from {{ question.question_text | safe }}."+ 
        "\nInstance link: "+instanceURL;
        // populateDefaultText(mailSubEleID, mailBodyEleID, mailSubjectContent, mailBodyContent);

        mailSubEleID = "mailNotificationSubject1";
        mailBodyEleID = "mailNotificationBody1";
        mailSubjectContent = "You have been added to {{ question.question_text | safe }}";
        mailBodyContent = "You have been added to {{ question.question_text | safe }}. "+
        "\nTo access it, follow the link : "+ instanceURL;
        // populateDefaultText(mailSubEleID, mailBodyEleID, mailSubjectContent, mailBodyContent);
        

        var loginLink = protocol + "//" + host + "/polls/main";
        var signUpLink = protocol + "//" + host + "/auth/register/";
        mailSubEleID = "mailSubject";
        mailBodyEleID = "mailBody";
        mailSubjectContent = "You have been added to {{ question.question_text | safe }}";
        mailBodyContent = "You have been added to {{ question.question_text | safe }}."+
        "\n\nIf you already have an OPRA account, login in into the account using the below link. "+ 
        "\nLogin link: "+protocol+"//"+host +"/polls/main"+
        "\n\nIf you do not have an account registered with OPRA, sign up with the below link."+
        "\nSign up link: "+ protocol+"//"+host +"/auth/register/"+
        "\nNote: Please sign in with the same E-mail ID with which you are invited.";
        // mailBodyContent = `\n<p>Login link: <a href="${loginLink}">${loginLink}</a></p> some new text`;
        // populateDefaultText(mailSubEleID, mailBodyEleID, mailSubjectContent, mailBodyContent);


        const emailNotificationToInvite = document.getElementById("emailNotificationToInvite");
        const emailDivForInvite = document.getElementById("emailDivForInvite");
        emailNotificationToInvite?.addEventListener('change', ()=>{
            toggleMailDiv(emailNotificationToInvite, emailDivForInvite);
        });

    });


</script>
<style>
.height-100{
 height: 100px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

</style>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Add Multiple Pre-Registered Users/Groups:<h4></div>
    <div class="panel-body">
        <div class = "row">
        <div class="col-md-6">
            
            <form action="{% url 'polls:delvoter' question.id %}" method="post">
                <div style="display: flex; width: 100%;">
                    <div style="width: 70%;">
                        <label>Users added to the instance: </label> 
                    </div> 
                    {% if question.status == 1 %}
                    <div style="width: 30%;">
                        <div style="float: right;">
                            <label for="selectAll" style="margin-right: 5px;">Select all</label> 
                            <input type="checkbox" id="selectAll">
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% csrf_token %}
                <select id="currentVoters" name="voters" class="form-control"  multiple style="height: 163px;">
                    {% for user in question.question_voters.all %}
                        <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <br />
                {% if question.status == 1 %}
                    <label for="emailNotificationToRemove">Email announcement</label>
                    <input type="checkbox" name="email" id="emailNotificationToRemove" value="email" {% if question.emailDelete == True %} checked {% endif %} >
                    <!-- {% if question.emailDelete == True or question.emailDelete == None %} checked {% endif %} -->
                {% endif %}
                    <br />
                    <div id="mailNotificationDivToRemove" class="{% if question.emailDelete == True %} show {% else %} hide {% endif %}">
                        <input type="text" id="mailNotificationSubject" name="mailNotificationSubject" class="form-control" placeholder="Subject of the Mail" value="{{emailDelete.subject}}">
                        <br>
                        <textarea class="form-control" id="mailNotificationBody" name="mailNotificationBody" rows="9" placeholder="Content of the E-mail..." >{{emailDelete.message}}</textarea>
                        <br>
                    </div>
                    {% if question.status == 1 %}
                    <input type="submit" class="btn btn-danger" value="Remove Participants">
                    {% endif %}
                
            </form> 
        </div>     
        <div class="col-md-6">
            <form id = "addUsersForm" action="{% url 'polls:addvoters' question.id %}" method="post">
                <div>
                    <label style="width: 100%;">Add users registered with OPRA: </label>
                    {% csrf_token %}
                    <select name="voters" class="form-control multiple-select"  style="width: 100%;" multiple>
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="Add Users" class="btn btn-success" style="margin-top: 15px;">
                </div>
                
                <br>

                <div>
                    <label style="width: 100%;">Add{% if question.status == 1 %}/Remove{% endif %} groups of users registered with OPRA: </label>
                    <select name="groups" class="form-control multiple-select" style="width: 100%;" multiple >
                        {% for group in groups %}
                            {% if group.owner == request.user %}
                                <option value="{{ group.name }}">{{group.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" class="btn btn-success" value="Add" style="margin-top: 15px;"/>
                    {% if question.status == 1 %}
                        <input type="submit" class="btn btn-danger" value="Remove" style="margin-top: 15px;" formaction="{% url 'groups:removegroupvoters' question.id %}">
                    {% endif %}
                </div>
                <br>
                <label for="email">Email announcement</label>
                <input type="checkbox" name="email" id="emailNotification" value="email" {% if question.emailInvite == True %} checked {% endif %}>
                <!-- {% if question.emailInvite == True or question.emailInvite == None %} checked {% endif %} -->
                <br>
                
                <div id="mailNotificationDiv" class="{% if question.emailInvite == True %} show {% else %} hide {% endif %}">

                    {% if question.status == 1 %}
                    <div class="alert alert-danger">
                        <p><strong>Note:</strong> The text for this E-mail is pre-populated for adding users into the instance. 
                            Please modify the text accordingly if you decide to remove the users from the instance.
                        </p>
                    </div>
                    {% endif %}

                    <input type="text" id="mailNotificationSubject1" name="mailNotificationSubject1" class="form-control" placeholder="Subject of the Mail" value="{{emailInvite.subject}}">
                    <br>
                    <textarea class="form-control" id="mailNotificationBody1" name="mailNotificationBody1" rows="9" placeholder="Content of the E-mail..." >{{emailInvite.message}}</textarea>
                    <br>
                </div>
            </form>
            
        
        </div>
        
        </div>
    </div>
</div>
<br><br>

<div class="panel panel-default">
    
    <div class="panel-heading">Add Users with CSV:</div>
    <div class="panel-body">
        <form id="csvTextAreaForm" action="{% url 'polls:savelatestcsv' question.id %}" method="post" onsubmit="return validateCSV()">
            <div class="row">
                <div class="col-md-6">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="csvTextArea">Enter the comma seperated email-IDs to add/invite users:</label>
                            <textarea class="form-control" id="csvTextArea" name="votersCSVText" rows="9" style="height: 221px;">{{ recentCSVText }}</textarea>
                        </div>

                        <div class="alert alert-info">
                            <p><strong>Note:</strong> 
                                Input email addresses as CSV as shown in below example. Need not worry about white spaces!<br> 
                                Example: user1@gmail.com,user2@gmail.com,user3@gmail.com<br> 
                            </p>
                        </div>

                        <div>
                            <label for="email2">Email announcement</label>
                            <input type="checkbox" name="email" id="emailNotificationToInvite" value="email" {% if question.emailInviteCSV == True %} checked {% endif %}>
                            <!-- {% if question.emailDelete == True or question.emailDelete == None %} checked {% endif %} onchange="this.form.submit()" -->
                            <br />
                        </div>
                        <input type="submit" value="Submit CSV" class="btn btn-primary" style="margin-top: 0px;">

                    
                </div>
                <div class="col-md-6">
                    <label>Users registered with OPRA: </label>
                    <select id="registeredVoters" name="registeredVoters" class="form-control" multiple>
                        {% for username in registeredUsers %}
                            <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Users not registered with OPRA: </label>
                    <select id="unregisteredVoters" name="unregisteredVoters" class="form-control" multiple>
                        {% for username in unRegisteredUsers %}
                            <option value="{{ username }}">{{ username }}</option>
                        {% endfor %}
                    </select>
                </div> 
            </div>

            <br>

            <div class="panel panel-default {% if question.emailInviteCSV == True %} show {% else %} hide {% endif %}" id="emailDivForInvite" style="width: 90%; margin:auto; margin-bottom: 15px;">
                <div class="panel-heading">Send E-mail to added/invited users: </div>
                <div class="panel-body">      
                    <div class="row">
                        <div class="col-md-12">
                                {% csrf_token %}
                                <br>
                                <label>Recepients:</label> 
                                <input type="radio" name="recepients" value="regVotersOnly" style="margin-left: 15px;"> Users registered with OPRA
                                <input type="radio" name="recepients" value="unregVotersOnly" style="margin-left: 15px;"> Users not registered with OPRA 
                                <input type="radio" name="recepients" value="allVoters" style="margin-left: 15px;" checked> Both 
                                <input type="radio" name="recepients" value="customEmails" id = "customEmailsRadioButton" style="margin-left: 15px;"> Custom 
                                <br>
                                <textarea id="textAreaForCustomMails" name="textAreaForCustomMails" class="form-control hide" placeholder="Emails sepereated by comma" style="height: 100px; margin-top: 20px;"></textarea>
                                <br>
                                <input type="text" id="mailSubject" name="mailSubject" class="form-control" placeholder="Subject of the Mail" required value="{{emailInviteCSV.subject}}">
                                <br>
                                <textarea class="form-control" id="mailBody" name="mailBody" rows="9" placeholder="Content of the E-mail..." required>{{emailInviteCSV.message}}</textarea>
                                <br>
                                <!-- <input type="submit" value="Send E-mail" class="btn btn-primary"> -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>

<br><br><br>


